*, *:before, *:after
  box-sizing: border-box

html, body
  height: 100%
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #eee

#title
  position: absolute
  background-color: white
  width: 110px
  height: 54px
  border-radius: 4px
  text-align: center
  padding: 0
  margin-top: 5px
  left: 50%
  margin-left: -55px

  img
    width: 50px
    height: 50px

#cat_tweet
  position: relative
  min-height: 100%
  width: 100%

  #tweet
    position: absolute
    padding: 0
    outline: none
    margin-left: -200px
    left: 50%
    top: 30%
    background-color: white
    width: 400px
    height: 200px
    border-radius: 4px

    #info
      list-style: none
      padding-left: 10px
      padding-top: 5px
      margin: 0
      background-color: #ddd
      width: 100%
      height: 30px
      border-top-left-radius: 4px
      border-top-right-radius: 4px

    #text
      font-size: 1.2em
      margin: 1em
      padding-top: 8px;
      padding-left: 10px

      #handle
        font-weight: bold

  #notch
    position: absolute
    left: 64.6%
    top: 37%
    border-top: 10px solid transparent
    border-right: 10px solid transparent
    border-left: 10px solid white
    border-bottom: 10px solid transparent

  #kat
    position: absolute
    top: 50%
    left: 65%
    margin-top: -135px
    width: 200px
    height: 270px

    img
      width: 100%

  #map_pointer
    position: absolute
    top: 95.5%
    left: 46%
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    background-color: white
    width: 100px
    height: 30px
    text-align: center
    line-height: 30px

#map
  position: relative
  min-height: 100%
  width: 100%

  #map_background
    position: absolute
    border-top: 2px solid white
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center
    opacity: 0.5

  #stats_pointer
    position: absolute
    top: 95.5%
    left: 46%
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    background-color: white
    width: 100px
    height: 30px
    text-align: center
    line-height: 30px